<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BT</title>
  <meta http-equiv="cache-control" content="max-age=0"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div ng-app="BT" ng-strict-di ng-controller="AppController as ac" layout="column" class="h100p" ng-cloak>
    <md-toolbar layout="row" layout-align="none center">
      <div class="logo">BT</div>
      <div flex></div>
      <div class="version">v{{ac.version}}</div>
    </md-toolbar>

    <div layout="row" class="h100p">
      <div id="editor" flex></div>

      <div flex layout="column" ng-click="ac.setFocusOnChat()">
        <md-virtual-repeat-container id="chatContainer" md-auto-shrink="true" flex>
          <md-list-item class="md-2-line" md-virtual-repeat="m in ac.messages">
            <ng-md-icon icon="{{m.icon}}" size="32"></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h4>{{m.name}}</h4>
              <p>{{m.text}}</p>
            </div>
          </md-list-item>
        </md-virtual-repeat-container>

        <div layout="row" layout-padding>
          <div>
            <ng-md-icon icon="person" size="32"></ng-md-icon>
          </div>
          <form flex>
            <md-input-container class="md-block">
              <input id="inputText" type="text" md-maxlength="4000" aria-label="inputText" ng-model="ac.inputText" ng-keyup="ac.onInputTextKeyUp($event)">
            </md-input-container>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
  <script src="bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/course.js"></script>
  <script src="js/course.tenlessons.js"></script>
  <script src="js/app.model.js"></script>
  <script src="js/app.editor.js"></script>
  <script src="js/app.controller.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
